    html {
        color: rgb(153, 153, 153);
        background: #232530;
    }
    body {
        margin-left: 1em;
        margin-right: 1em;
        font-family: monaco, sans-serif;
        background-color: #232530; margin: 0px;
    }

    code, tt { font-family: Consolas,monaco,monospace; font-size: 1.1em; }
    span.parameter { font-family:Consolas,monaco,monospace; }
    span.parameter:after { content:":"; }
    span.types:before { content:"("; }
    span.types:after { content:")"; }
    .type { font-weight: bold; font-style:italic }

    body, p, td, th { font-size: .95em; line-height: 1.2em;}

    p, ul { margin: 10px 0 0 0px;}

    strong { font-weight: bold;}

    em { font-style: italic;}

    h1 {
        font-size: 1.5em;
        margin: 20px 0 20px 0;
    }
    h2, h3, h4 { margin: 15px 0 10px 0; }
    h2 { font-size: 1.25em; }
    h3 { font-size: 1.15em; }
    h4 { font-size: 1.06em; }

    a:link { font-family: Consolas,monaco,monospace;font-weight: bold; color: rgb(233, 83, 95); text-decoration: none; }
    a:visited { font-weight: bold; color: rgb(233, 118, 127); text-decoration: none; }
    a:link:hover { text-decoration: underline; }

    hr {
        color:#232530;
        background: #E95378;
        height: 1px;
    }

    blockquote { margin-left: 3em; }

    ul { list-style-type: disc; }

    p.name {
        font-family: Consolas,monaco,monospace;
        padding-top: 1em;
    }

    pre {
        background-color: #232530;
        border: 1px solid #C0C0C0; /* silver */
        padding: 10px;
        margin: 10px 0 10px 0;
        overflow: auto;
        font-family: Consolas,monaco,monospace;;
    }

    pre.example {
        font-size: .85em;
    }

    table.index { border: 1px #E95378; }
    table.index td { text-align: left; vertical-align: top; }

    #container {
        margin-left: 1em;
        margin-right: 1em;
        background-color: #232530;
    }

    #product {
        text-align: center;
        /* border-bottom: 1px solid #cccccc; */
        background-color: #232530;
    }

    #product big {
        font-size: 2em;
    }

    #main {
        background-color: #232530;
        /*border-left: 2px solid #cccccc;*/
    }

    #navigation {
        float: left;
        width: 18em;
        vertical-align: top;
        background-color: #232530;
        overflow: visible;
    }

    #navigation h2 {
        background-color:#232530;
        font-size:1.1em;
        color:#E95378;
        text-align: left;
        padding:0.2em;
        /* border-top:1px solid #dddddd; */
        /* border-bottom:1px solid #dddddd; */
    }

    #navigation ul
    {
        font-size:1em;
        list-style-type: none;
        margin: 1px 1px 10px 1px;
    }

    #navigation li {
        text-indent: -1em;
        display: block;
        overflow: clip;
        margin: 1px 0px 0px 22px;
    }

    #navigation li li a {
        margin: 0px 3px 0px -1em;
    }

    #content {
        margin-left: 18em;
        padding: 1em;
        width: 700px;
        /* border-right: 2px solid #cccccc; */
        background-color: #232530;
    }

    #content h2 a:link {
        color: #E95378;
    }

    #content h2 a:visited {
        color: rgb(238, 115, 145);
    }

    #about {
        clear: both;
        padding: 5px;
        border-top: 2px solid #cccccc;
        background-color: #232530;
    }

    @media print {
        body {
            font: 12pt Consolas,monaco,monospace;
        }
        a { font-weight: bold; color: rgb(238, 115, 145); text-decoration: underline; }

        #main {
            background-color: #ffffff;
            border-left: 0px;
        }

        #container {
            margin-left: 2%;
            margin-right: 2%;
            background-color: #ffffff;
        }

        #content {
            padding: 1em;
            background-color: #ffffff;
        }

        #navigation {
            display: none;
        }
        pre.example {
            font-family: Consolas,monaco,monospace;
            font-size: 10pt;
            page-break-inside: avoid;
        }
    }

    table.module_list {
        border-width: 1px;
        border-style: solid;
        border-color: #cccccc;
        border-collapse: collapse;
    }
    table.module_list td {
        padding: 3px;
    }
    table.module_list td.name { min-width: 200px; }
    table.module_list td.summary { width: 100%; }


    table.function_list {
        border-width: 1px;
        border-style: solid;
        border-color: #cccccc;
        border-collapse: collapse;
    }
    table.function_list td {
        padding: 3px;
    }
    table.function_list td.name {  min-width: 200px; }
    table.function_list td.summary { width: 100%; }

    ul.nowrap {
        overflow:auto;
        white-space:nowrap;
    }

    dl.table dt, dl.function dt {color:rgb(233, 83, 95); border-top: 1px solid #ccc; padding-top: 1em;}
    dl.table dd, dl.function dd {padding-bottom: 1em; margin: 10px 0 0 20px;}
    dl.table h3, dl.function h3 {font-size: .95em;}

    /* stop sublists from having initial vertical space */
    ul ul { margin-top: 0px; }
    ol ul { margin-top: 0px; }
    ol ol { margin-top: 0px; }
    ul ol { margin-top: 0px; }

    h2.section-header {
        color: #E95378;
    }
    /* make the target distinct; helps when we're navigating to a function */
    a:target + * {
      background-color: rgb(255, 41, 87);
      color: #232530;
    }

    pre .comment { color: rgb(85, 84, 84); }
    pre .constant { color: rgb(255, 41, 87); }
    pre .escape { color: rgb(153, 153, 153); }
    pre .keyword { color: #E95378; font-weight: bold; }
    pre .library { color: rgb(233, 83, 95); }
    pre .marker { color: #a33243; font-weight: bold; }
    pre .string { color: #E1A68B; }
    pre .number { color: #E1A68B; }
    pre .operator { color:rgb(153, 153, 153); font-weight: bold; }
    pre .preprocessor, pre .prepro { color: #a33243; }
    pre .global { color: rgb(255, 41, 87); }
    pre .user-keyword { color: #a33243; }
    pre .prompt { color: rgb(153, 153, 153); }
    pre .url { color: rgb(233, 83, 95); text-decoration: underline; }
